<%= form_tag(posts_url, method: :post, class: 'create-post') do %>
  <textarea name="contents"></textarea>
  <div class="button-container"><button>Post</button></div>
<% end %>

<div class="post-container">Just kidding Ruby is the best</div>
<div class="post-container">I love Python</div>
<div class="post-container">My second post</div>
<div class="post-container">First post!</div>